<% if $stop == "stop" %>
  <div class="question_stop">
    受付停止中です．
  </div>
  <% else %>
  <div class="yes_no_button">
    <%= form_tag("/posts/yes", {multipart: true}) do %>
      <input type="submit" name="yes_no" value="YES" class="button_yes">
    <% end %>
    <br>
    
    <%= form_tag("/posts/no", {multipart: true}) do %>
      <input type="submit" name="yes_no" value=" NO " class="button_no">
    <% end %>
  </div>
<% end %>
