<div class="show">
  回答を受け付けました。
  <br>
  回答は1質問につき1回までになります。
  <br>
  <br>
  <div class="wait">
  <img class="find-the-2" src="<%= image_path('wait_2.png') %>" alt="例の画像">
  </div>
  <div class="sign">合図があった時にスクロールしてね〜！</div>
  <%= link_to("次の質問に回答する", "/posts/new", class: "button") %>

</div>
