<div class="show">
  回答を受け付けました。
  <br>
  回答は<strong>1質問につき1回まで</strong>になります。
  <br>
  <br>
  <h2 class="sign">司会の合図があった時にスクロールしてね〜！</h2>
  <div class="wait">
  <img class="find-the-2" src="<%= image_path('wait_2.png') %>" alt="例の画像">
  <img class="find-the-2" src="<%= image_path('wait_2.png') %>" alt="例の画像">
  <img class="find-the-2" src="<%= image_path('wait_2.png') %>" alt="例の画像">
  </div>
  <div class="final">それでは、あなたを信じます。</div>
  <%= link_to("次の質問に回答する", "/posts/new", class: "button") %>

</div>
