<!DOCTYPE html>
<html>
<head>
  <title>画像の配置例</title>
</head>
<body class="top">
  <!-- 画像を配置 -->
  <img class="fv" src="<%= image_path('100.jpg') %>" alt="例の画像">
  <div class="title">
    <img class="find-the-1" src="<%= image_path('find-the-1.svg') %>" alt="例の画像">
    <div class="text__small">~ WARCに潜む1/100を探せ！ ~</div>
  </div>
  <div class="text">合図があるまでボタンは押さないでね！</div>
  <%= link_to("回答ページに移動する", "/posts/new",  class: "button") %>

</body>
</html>
