<!DOCTYPE html>
<html>
<head>
  <title>画像の配置例</title>
</head>
<body>
  <h2>100分の1ゲーム！！</h2>
  
  <!-- 画像を配置 -->
  <img width="300px" height="auto" src="<%= image_path('100.png') %>" alt="例の画像">
  <div>合図があるまでボタンは押さないでね！</div>
  <%= link_to("回答ページに戻る", "/posts/new") %>

</body>
</html>
